<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lewiswon.android_mooc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.BrandedSplash">

        </activity>
        <activity
            android:name=".cptureimage.CaptureImageActivity"
            android:label="IMAGE DEMO" />
        <activity
            android:name=".cptureimage.UploadActivity"
            android:label="UPLOAD" />
        <activity
            android:name=".PhoneInfoActivity"
            android:label="@string/title_activity_phone_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RetrofitActivity" />
        <activity android:name=".ShareReceiveActivity"
            android:label="ShareReceive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
